<div class="main">
    <div class="main-content">

        <div class="image-container">
            <img class="image" src="assets/profile-image.svg" alt="profile image">
        </div>
        <div class="info-container">
            <p class="name">{{profile.name}}</p>
            <p class="phone">{{profile.email}}</p>
            <p class="phone">{{profile.city}}</p>
            <p class="phone">Образование: {{getEducation(profile.education)}}</p>
            <p class="phone">Специализация: {{profile.specialization}}</p>
            <p class="phone">Опыт: {{profile.experience}}</p>
            <p class="phone">Ожидаемая зарплата: {{profile.salary}}</p>
        </div>

    </div>
</div>
