.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.main-content {
    width:     100%;
    height:    fit-content;
    max-width: 700px;
}

.rollbar-container {
    width:      100%;
    overflow-x: scroll;
}

.rollbar-content {
    display:        flex;
    flex-direction: row;
    gap:            20px;
}

/* form */

.create-form {
    position:       relative;
    width:          100vw;
    max-width:      var(--max-main-content-width);
    box-sizing:     border-box;
    display:        flex;
    flex-direction: column;
    gap:            30px;
    padding:        0 20px;
    border-radius:  16px;
}

.box {
    width:          100%;
    display:        flex;
    flex-direction: column;
    gap:            10px;
}

.form-container {
    overflow:      hidden;
    position:      relative;
    width:         100vw;
    height:        100%;
    max-width:     var(--max-main-content-width);
    border-radius: 16px;
}

.form-roller {
    width:          fit-content;
    display:        grid;
    grid-auto-flow: column;
    border-radius:  16px;
    background:     var(--slight-black);
    padding:        30px 0;
}

.input-label {
    position: relative;
    width:    100%;
}

.input-input {
    width:          100%;
    height:         var(--input-button-height);
    display:        flex;
    flex-direction: row;
    align-items:    center;
    align-content:  center;
    background:     var(--light-black);
    border-radius:  8px;
    padding:        19px 16px 0;
    outline:        none;
    border:         none;
    font-family:    var(--ff-rubik);
    caret-color:    var(--white);
}

.input-input:valid:not(:placeholder-shown) ~ .input-span { color: var(--green) !important; }

.input-input:valid ~ .input-label { box-shadow: inset 0 0 0 1px var(--green) !important; }

.input-input:invalid:not(:placeholder-shown) ~ .input-span { color: var(--red) !important; }

.input-input:invalid ~ .input-label { box-shadow: inset 0 0 0 1px var(--red) !important; }

.input-span {
    position:            absolute;
    line-height:         100%;
    left:                16px;
    top:                 20px;
    max-width:           calc(100% - 32px);
    text-overflow:       ellipsis;
    overflow:            hidden;
    white-space:         nowrap;
    pointer-events:      none;
    transition:          all .25s;
    transform-origin:    left;
    transition-property: transform, color, font-size;
}

.input-input:-webkit-autofill {
    background: var(--light-black);
}

.input-input:focus, .input-input:not(:placeholder-shown) {
    background:         var(--slight-black);
    box-shadow:         inset 0 0 0 1px var(--white);
    -webkit-appearance: none;
}

.input-input:focus ~ .input-span, .input-input:not(:placeholder-shown) ~ .input-span {
    transform: translateY(-10px) scale(.87);
}

/* steps */

.steps-container {
    text-align: center;
}

.steps {
    margin:   40px 0;
    overflow: hidden;
}

.steps ul {
    margin:     0;
    padding:    0;
    list-style: none;
}

.steps ul li {
    float:      left;
    color:      var(--white);
    padding:    0 15px;
    position:   relative;
    cursor:     pointer;
    transition: all 0.4s ease-in-out;
}

.steps ul li.hovered, .steps ul li.active { color: var(--blue); }

.steps ul li.hovered span, .steps ul li.active span {
    background: var(--blue);
    color:      var(--black);
}

.steps ul li.hovered::after, .steps ul li.active::after {
    background: var(--blue);
    width:      100%;
}

.steps ul li::before, .steps ul li::after {
    content:    "";
    position:   absolute;
    left:       -50%;
    top:        22px;
    width:      100%;
    height:     3px;
    background: var(--slight-black);
    transition: all 0.4s ease-in-out;
    transform:  translateY(-50%);
}

.steps ul li::after { width: 0; }

.steps ul li span {
    display:       block;
    margin:        0 auto 15px;
    width:         var(--span-size);
    height:        var(--span-size);
    text-align:    center;
    background:    var(--slight-black);
    font-size:     18px;
    line-height:   var(--span-size);
    font-weight:   300;
    color:         var(--white);
    position:      relative;
    z-index:       1;
    transition:    all 0.4s ease-in-out;
    border-radius: var(--span-size);
}

.steps ul li:first-child::before, .steps ul li:first-child::after { display: none; }

/* navigate buttons */

.arrow-img { height: 100%; }

.btn {
    width:               fit-content;
    background:          var(--blue);
    border:              none;
    border-radius:       8px;
    height:              var(--input-button-height);
    display:             flex;
    flex-direction:      row;
    justify-content:     center;
    align-items:         center;
    align-content:       center;
    gap:                 10px;
    transition-duration: .3s;
    cursor:              pointer;
}

.btn:hover { filter: brightness(.8); }

.btn:disabled {
    background: var(--dark-white) !important;
    color:      var(--light-black);
}

.first-button-container { justify-content: flex-end !important; }

.buttons-container {
    display:         flex;
    width:           100%;
    padding:         10px 20px;
    border-radius:   8px;
    flex-direction:  row;
    justify-content: space-between;
    margin-top:      30px;
    font-size:       18px;
}

.next-btn { padding-left: 20px; }

.finish-btn { padding: 0 20px; }

.prev-btn { padding-right: 20px; }

.img-rev { transform: rotate(180deg); }

.bottom-text {
    margin-top: 20px;
}

.bottom-text > a {
    color: var(--blue);
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .main-content {
        border-radius: 0;
        height:        100%;
        min-height:    calc(100vh - var(--top-bar-height));
        padding:       40px 0 30px;
        background:    var(--white);
    }

    .buttons-container, .main {
        padding: 0;
    }

    .buttons-container {
        width:   100%;
        padding: 0 20px;
    }
}

:host {
    --input-button-height:    70px;
    --checkbox-width:         20px;
    --max-main-content-width: 700px;
    --span-size:              40px;
    --docs-box-min-height:    200px;
}