@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.cdnfonts.com/css/noto-sans-syriac-eastern');

* {
    line-height:                 100%;
    box-sizing:                  border-box;
    margin:                      0;
    padding:                     0;
    caret-color:                 transparent;
    font-family:                 var(--ff-inter);
    -webkit-tap-highlight-color: transparent;
    color:                       var(--white);
    user-select:                 none;
    height:                      fit-content;
}

*::-webkit-scrollbar {
    display: none;
    width:   0;
}

html, body {
    width:           100vw;
    scroll-behavior: smooth;
    min-height:      100vh;
    overflow-x:      hidden;
    overflow-y:      hidden;
}

body {
    background-color: var(--light-black);
    display:          flex;
    flex-wrap:        wrap;
    position:         relative;
    padding:          5px 5px 0 5px;
}

li {
    list-style-type: none;
}

input, button, select {
    outline-offset: 0;
    outline:        0;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--white);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;

}

img {
    -moz-user-select:    none;
    -webkit-user-select: none;
    user-select:         none;
    pointer-events:      none;
}

/* LITTLE CLASSES */

.font-size-xxxlarge {
    font-size: clamp(4.5rem, 7vw, 7.5rem);

    @media screen and (max-width: 991px) {
        font-size: 7vw;
    }
    @media screen and (max-width: 470px) {
        font-size: 9.25vw;
    }
}

.font-size-xxlarge {
    font-size: clamp(3rem, 5vw, 5rem);

    @media screen and (max-width: 991px) {
        font-size: 3rem;
    }
    @media screen and (max-width: 470px) {
        font-size: 2rem;
    }
}

.font-size-xlarge {
    font-size: clamp(2.5rem, 3.5vw, 3rem);

    @media screen and (max-width: 991px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 470px) {
        font-size: 1.75rem;
    }
}

.font-size-large {
    font-size: clamp(1.5rem, 2vw, 2.5rem);

    @media screen and (max-width: 991px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 470px) {
        font-size: 1.5rem;
    }
}

.font-size-medium {
    font-size: 1.5rem;

    @media screen and (max-width: 470px) {
        font-size: 1rem;
    }
}

.font-size-regular {
    font-size: 1rem;
}

.fw-700 { font-weight: 700; }

.fw-600 { font-weight: 600; }

.fw-500 { font-weight: 500; }

/* VARIABLES */

:root { /* fonts */
    --ff-rubik: "Rubik", sans-serif;
    --ff-noto:  "Noto Sans Syriac Eastern", sans-serif;
    --ff-inter: "Inter", sans-serif;
}

:root { /* default colors */
    --blue:         #0284ff;
    --blue-2:       #2300f7;
    --blue-3:       #121d39;
    --black:        #000000;
    --slight-black: #141414;
    --light-black:  #222222;
    --white:        #ffffff;
    --dark-white:   #cfcfcf;
    --gray-b6:      #b6b6b6;
    --orange:       #ff472b;
    --red:          #d30303;
    --green:        #28bd00;
}

:root { /* sizes */
    --top-bar-height: 80px;
}

:root { /* transition duration times */
    --slow-transition-time: .6s;
    --fast-transition-time: .3s;
}
