.main {
    width:           100%;
    height:          100%;
    display:         flex;
    align-items:     center;
    align-content:   center;
    justify-content: center;
    padding:         10px;
}

.content {
    width:         var(--login-box-width);
    max-width:     100%;
    height:        fit-content;
    padding:       48px;
    background:    var(--slight-black);
    border-radius: 16px;
}

@media screen and (max-width: 800px) {
    .content {
        width:  100%;
        height: 100%;
    }

    .main {
        padding: 0;
    }
}

.buttons-container {
    width:          100%;
    margin:         24px 0 0;
    display:        flex;
    flex-direction: column;
    gap:            20px;
}

.input {
    width:          100%;
    height:         var(--input-height);
    display:        flex;
    flex-direction: row;
    align-items:    center;
    align-content:  center;
    background:     var(--light-black);
    border-radius:  8px;
    padding:        19px 16px 0;
    outline:        none;
    border:         none;
    font-family:    var(--ff-rubik);
    caret-color:    var(--black);
}

.input:valid:not(:placeholder-shown) ~ .span { color: var(--green) !important; }

.input:valid ~ .label { box-shadow: inset 0 0 0 1px var(--green) !important; }

.input:invalid:not(:placeholder-shown) ~ .span { color: var(--red) !important; }

.input:invalid ~ .label { box-shadow: inset 0 0 0 1px var(--red) !important; }

.label {
    position: relative;
    width:    100%;
}

.span {
    position:            absolute;
    line-height:         100%;
    left:                16px;
    top:                 20px;
    max-width:           calc(100% - 32px);
    text-overflow:       ellipsis;
    overflow:            hidden;
    white-space:         nowrap;
    pointer-events:      none;
    transition:          all .25s;
    transform-origin:    left;
    transition-property: transform, color, font-size;
}

.input:focus, .input:not(:placeholder-shown) {
    background:         var(--light-black);
    box-shadow:         inset 0 0 0 1px var(--white);
    -webkit-appearance: none;
}

.input:focus ~ .span, .input:not(:placeholder-shown) ~ .span {
    transform: translateY(-10px) scale(.87);
}

.send-button {
    height:        var(--input-height);
    background:    var(--blue);
    border-radius: 8px;
    border:        none;
    font-size:     20px;
    font-weight:   600;
    cursor:        pointer;
}

.bottom-text {
    margin-top: 20px;
}

.bottom-text > a {
    color: var(--blue);
    cursor: pointer;
}

:host {
    --login-box-width: 500px;
    --input-height:    70px;
}